<div class="card shadow-sm">
    <img src="@Product.ImageUrl" alt="" class="card-img-top" style="width: 100%">
    <div class="card-body text-center">
        <h4 class="card-title">@Product.Name</h4>
        <p class="card-text text-danger fw-bold">@Product.Price.ToString()</p>
    </div>

    @* render HTML, CSS từ component Cha gửi về *@
    <div>
        @ChildContent
    </div>
    <button class="btn btn-secondary mt-3" @onclick="Showdetails">Xem chi tiết</button>
    <button class="btn btn-primary mt-3" @onclick="HandleAddToCart">Thêm giỏ hàng</button>
</div>

@if(isShowDetails) {
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Product.Name</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="@Product.ImageUrl" class="img-fluid mb-3" alt="@Product.Name">
                    <p class="text-muted">@Product.Name</p>
                    <h4 class="text-danger">@Product.Price.ToString()</h4>
                    <p>Mô tả sản phẩm chi tiết sẽ ở đây...</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Đóng</button>
                    <button class="btn btn-primary" @onclick="HandleAddToCart">🛒 Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public ProductModel Product { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    @* define event callback để nhận event từ component cha *@
    [Parameter] public EventCallback<ProductModel> OnAddToCart {get; set;}

    private bool isShowDetails = false;
    private void Showdetails() {
        isShowDetails = true;
    }

    private void CloseModal() {
        isShowDetails = false;
    }

    private async Task HandleAddToCart() {
        if(OnAddToCart.HasDelegate) {
            await OnAddToCart.InvokeAsync(Product);
        }

        CloseModal();
    }
}